/* vamos a añadir la fuente estilo tribu africana  */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Bungee&display=swap');
html, body {
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    font-family: 'Amarante', sans-serif;
}
h1, h2, h3, h4, h5, th{
    /* Elegimos Bungee para los títulos porque se asemeja al rótulo del vídeo, para mantener concordancia con él */
    font-family: 'Bungee', sans-serif;
}

nav img{
    max-height: 80px;
}
nav{
    font-size: 1.5em;
}

.beige{
    background-color: #F4F1DE;
}
.salmon{
    background-color: #f3642b ;
}
.bienvenida{
    background: url("../img/atardecer.webp") no-repeat center top;
    background-size: cover;
    height: 100vh;
    overflow: hidden;

}
article img{
    height: 15em;
    
}
.card{
    margin: 0.1em;
    margin-bottom: 1.5em;
    
}
#aeropuerto{
    height: 15em;
}
.imgCarr{
    height: 40em;
}
.txtCar{
    display: inline-block;
    background-color: #F4F1DE;
    color:rgba(0, 0, 0, 0.763)
}
.btnMore{
    margin-top: 2em;
}
.imgSafari{
    width: 16em;
    height: 10em;
}
.btnSafari{
    margin: 2em;
}
/* hacemos una mediaquery para que cuando alcancemos x tamaño el carrusel no sea tan ancho */
@media (min-width: 1080px){
    .carousel{
    width: 70%;
    object-fit: cover;
}
}
/* hacemos una mediaquery para reducir el alto del carousel */
@media (max-width: 576px) {
    .carousel-inner img {
      height: 300px; 
      object-fit: cover; 
    }
  }

.video{
    margin-top: 3em;
}

/* @media (min-width: 00px) and (max-width: 576px) {
    .visita{
        font-size: larger;
    }
    .parrafoVisita {
        font-size: larger; 
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .visita{
        font-size: xx-large;
    }
} */